@charset "utf-8";
/* CSS Document */
body,html{ height:100%;}
body,height{ margin:0 auto; padding:0; border:0;}
ul,li,ol{ list-style-type:none;}
*{margin:0; padding:0; list-style:none; font-family:"微软雅黑"; }
img{ border:0;  }
a{ text-decoration:none;  }
